#app {
  background-color: #FFE6EE;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.story {
  margin: 10px;
  width: 24rem;
}

.ProseMirror {
  height: 750px;
  min-height: 100%;
  padding: 50px;
  font-size: 12px;
  overflow-y: visible;
  margin: 0.5cm auto;
  border: 0px grey solid;
  border-radius: 0px;
  background: white;
  box-shadow: 0 0 5px rgb(0 0 0 /10%);
  margin-top: 5px;
  margin-bottom: 30px;
  line-height: 1.4;
  overflow-y: scroll;
}

.btn-primary.outline {
  border: 1px black solid;
  background: none;
  color: pink;
}

.btn-primary.outline.writers {
  margin: 4px;
}

.btn-primary.outline.toolbar {
  height: 36px;
  width: 36px;
}

.editor-toolbar {
  text-align: center;
}

.btn-primary.outline:hover,
.btn-primary.outline:focus,
.btn-primary.outline:active {
  background-color: pink;
  color: white;
  border: 1px white solid;
}

.list-group .list-group-item {
  border: 1px pink solid;
}

a.list-group-item:hover {
  color: pink;
}

a.list-group-item.active {
  background-color: pink;
  border: pink;
  color: white;
}

.lg-edit {
  float: right;
}

/* a.list-group-item.character {
  margin: 1em;
} */

.nav-link.visited {
  color: darkmagenta;
}

.navbar-brand {
  margin-left: 16px;
  font-size: 48px !important;
}