.story {
  margin: 10px;
  width: 24rem;
}

/* Tell Quill not to scroll */
#quill-container {
  height: 750px;
  min-height: 100%;
  padding: 50px;
  border: 1px pink solid;
}
#quill-container .ql-editor {
  font-size: 18px;
  overflow-y: visible;
  margin: 0.5cm auto;
  border: 0px grey solid;
  border-radius: 0px;
  background: white;
  box-shadow: 0 0 5px rgb(0 0 0 /10%);
  margin-top: 5px;
  margin-bottom: 30px;
  line-height: 1.4;
}

/* Specify our own scrolling container
#scrolling-container {
  height: 100%;
  min-height: 100%;
  overflow-y: auto;
} */

.btn-primary.outline {
  border: 1px pink solid;
  background: none;
  color: pink;
}

.btn-primary.outline:hover,
.btn-primary.outline:focus,
.btn-primary.outline:active {
  background-color: pink;
  color: white;
  border: 1px white solid;
}

.list-group .list-group-item {
  border: 1px pink solid;
}

a.list-group-item:hover {
  color: pink;
}
